<launch>

  <arg name="namespace"   default="$(env UAV_NAMESPACE)"/>
  <arg name="pose_in"     default="tracker/input_pose"/>
  <arg name="odometry"    default="mavros/global_position/local"/>    

  <!-- Debug arguments -->
  <arg name="debug" default="false" />
  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <!-- Determine if launching in stanadalone or manager mode-->
  <arg name="standalone"            default="false" />
  <arg name="load_manager"          default="true"/>
  <arg name="manager"               default="waypoint_nodelet_manager"/>
  <arg     if="$(arg standalone)"   name="nodelet"          value="standalone" />
  <arg unless="$(arg standalone)"   name="nodelet"          value="load" />
  <arg     if="$(arg standalone)"   name="nodelet_manager"  value="" />
  <arg unless="$(arg standalone)"   name="nodelet_manager"  value="$(arg manager)" />

  <!-- Start the nodelet manager-->
  <include file="$(find uav_ros_general)/launch/nodelet_manager.launch">
    <arg name="load_manager"  value="$(arg load_manager)"/>
    <arg name="namespace"     value="$(arg namespace)"/>
    <arg name="debug"         value="$(arg debug)"/>
    <arg name="manager_name"  value="$(arg nodelet_manager)"/>
  </include>

    <!-- Load LocalTrajectoryManager nodelet -->
  <node 
    pkg="nodelet" type="nodelet" name="waypoint_manager" 
    args="$(arg nodelet) uav_ros_tracker/WaypointManager $(arg nodelet_manager)" 
    output="screen" launch-prefix="$(arg launch_prefix)" ns="$(arg namespace)">

    <remap from="pose_in"   to="$(arg pose_in)"/>
    <remap from="odometry"  to="$(arg odometry)"/>
  </node>
</launch>